.singer-list {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.singer-list .scroll-wrapper, .singer-list .index-list-content {
    background: #222;
}

.singer-list .index-list-content {
    -webkit-box-shadow: 0 3px 6px #222;
    box-shadow: 0 3px 6px #222;
}

.singer-list .index-list-group {
    padding-bottom: 30px;
}

.singer-list .index-list-anchor, .singer-list .index-list-fixed {
    padding: 0px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    font-size: 14px;
    color: hsla(0,0%,100%,.5);
    background: #333;
    text-align: left;
}

.singer-list .index-list-item {
    display: flex;
    align-items: center;
    padding: 20px 0 0 15px;
    height: auto;
}

.singer-list .avatar {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
}

.singer-list .name {
    margin-left: 20px;
    color: hsla(0,0%,100%,.5);
    font-size: 14px;
    vertical-align: baseline;
}

.singer-list .index-list-nav > ul {
    margin-right: 5px;
}

.singer-list .index-list-nav > ul > li {
    color: hsla(0,0%,100%,.5);
    padding: 3px;
    font-size: 12px;
}

.singer-list .index-list-nav > ul > li.active {
    background-color: #ffcd32;
    border-radius: 50%;
    color: #000;
}
